{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  
	


	<h3>Cosa</h3>

	<p>Vogliamo creare un gruppo no-profit di lavoratori dell'informatica per offrire
	servizi gratuiti a chi si impegna nella realtà per cambiarla.</p>

	<h3>Come</h3>

	<p>Possiamo utilizzare le nostre competenze di <a href="http://it.wikipedia.org/wiki/Sistemista">sistemisti</a>, <a href="http://it.wikipedia.org/wiki/Programmatore">programmatori</a>,
	<a href="http://it.wikipedia.org/wiki/Designer">designers</a>, etc. per aiutare il mondo no-profit ad utilizzare le nuove
	tecnologie.</p>

	<h3>Dove</h3>

	<p>Nella rete.</p>

	<h3>Quando</h3>

	<p>Prima possibile</p>

	<h3>Perchè</h3>

	<p>Non lo sappiamo ancora</p>
	
{% endblock %}
